<table [responsive]="true" bordered cTable>
  <thead>
  <tr>
    <th class="tw-text-sm tw-text-secondary" scope="col">N° ORDRE</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">N° AGREMENT</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">AGREMENT</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">SOCIETE</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">MONTANT</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">STATUS</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">DATE TRAITEMENT</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">ACTION</th>
  </tr>
    @if (loadingDemands) {
      <tr>
        <td colspan="8" class="tw-text-center !tw-my-0 !tw-p-0">
          <app-loading-bar></app-loading-bar>
        </td>
      </tr>
    }
  </thead>

  <tbody>

    @for (demand of demands(); track demand; ) {
      @if (loadingDemands === false) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>
            <a [routerLink]="['/agrement/details', demand.activite]"  (click)="xendDetailsInfo(demand)"
               class="tw-inline-flex tw-items-center tw-font-medium tw-text-blue-600 hover:tw-cursor-pointer hover:tw-underline">
              {{ demand.numero }}
              <svg class="tw-w-5 tw-h-5 tw-ms-2 rtl:tw-rotate-180" xmlns="http://www.w3.org/2000/svg" width="18"
                   height="18" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5"/>
              </svg>
            </a>
          </td>
          <td scope="row">
            {{ demand.agrement.libelle }}
          </td>
          <td>{{ demand.societe.raisonSociale }}</td>
          <td>{{ demand.agrement.montant | price }}</td>
          <td>
           <span
             class="tw-py-1 tw-px-2 tw-inline-flex tw-items-center tw-gap-x-1 tw-font-medium tw-bg-lime-200 tw-text-[#228403] tw-rounded-full"
           >
                {{demand.etat === 'TRAITER' && 'Tratée'}}
             <svg
               xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               viewBox="0 0 16 16"
               fill="none"
             >
                  <path
                    d="M0.273315 8.93997L3.99998 12.6666L4.93998 11.72L1.21998 7.99997M14.8266 3.71997L7.77332 10.78L4.99998 7.99997L4.04665 8.93997L7.77332 12.6666L15.7733 4.66664M12 4.66664L11.06 3.71997L6.82665 7.9533L7.77332 8.8933L12 4.66664Z"
                    fill="#228403"
                  />
                </svg>
              </span>
          </td>
          <td>{{demand.dateTraiter | date: 'dd/MM/yyyy: HH:mm'}}</td>
          <td>
            <!--<c-dropdown>
              <button cDropdownToggle [caret]="false" cButton color="light" variant="ghost">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="13"
                  viewBox="0 0 13 13"
                  fill="none"
                >
                  <path
                    d="M2.13306 8C2.96148 8 3.63306 7.32843 3.63306 6.5C3.63306 5.67157 2.96148 5 2.13306 5C1.30463 5 0.633057 5.67157 0.633057 6.5C0.633057 7.32843 1.30463 8 2.13306 8Z"
                    fill="#4F566B"
                  />
                  <path
                    d="M6.63306 8C7.46148 8 8.13306 7.32843 8.13306 6.5C8.13306 5.67157 7.46148 5 6.63306 5C5.80463 5 5.13306 5.67157 5.13306 6.5C5.13306 7.32843 5.80463 8 6.63306 8Z"
                    fill="#4F566B"
                  />
                  <path
                    d="M12.6331 6.5C12.6331 7.32843 11.9615 8 11.1331 8C10.3046 8 9.63306 7.32843 9.63306 6.5C9.63306 5.67157 10.3046 5 11.1331 5C11.9615 5 12.6331 5.67157 12.6331 6.5Z"
                    fill="#4F566B"
                  />
                </svg>
              </button>
              <ul cDropdownMenu>
                  <li><a [routerLink]="[]" cDropdownItem>Modifier</a></li>
                  <li><a [routerLink]="[]" (click)="openModal(demand)" cDropdownItem>Soumettre</a></li>
                  <li><a [routerLink]="[]" cDropdownItem>Supprimer</a></li>

              </ul>
            </c-dropdown>-->
            <button  appTippyDirective
                    [tooltip]="'Télécharger le document de l\'agrément'"
                    [tooltipOptions]="{placement: 'top', theme: 'faw-light', arrow: true}"
                    class="!tw-text-primary !tw-bg-green-100 hover:!tw-text-green-700 !tw-mr-3" cButton color="light">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M14.5 23.5v-1h7v1zm3.5-3.212L14.712 17l.688-.688l2.1 2.1v-4.887h1v4.887l2.1-2.1l.688.688zM6.116 19.5q-.652 0-1.134-.482T4.5 17.884V4.116q0-.652.482-1.134T6.116 2.5H13L18.5 8v3.14h-6.384v8.36zm6.384-11h5l-5-5z"/></svg>



            </button>
          </td>

        </tr>
      }
    }
    @if (demands().length === 0 && loadingDemands === false) {
      <tr>
        <td colspan="8" class="tw-text-center">Aucun résultat</td>
      </tr>
    }
    @if (loadingDemands) {
      <tr>
        <td colspan="8" class="tw-text-center !tw-text-gray-400">En cours de chargement...</td>
      </tr>
    }
  </tbody>
</table>
<div class="bottom-table tw-flex tw-flex-row tw-justify-between tw-item-center">
  <div class="tw-flex tw-flex-row tw-justify-center tw-items-center">
    <div>{{ demands().length }} resultats</div>
  </div>
  <div class="action-button tw-flex tw-item-center tw-flex-row tw-justify-end !tw-gap-1">
    <button
      cButton

      class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"
      color="light"
    >
      <span>Préçédent</span>
    </button>
    <button
      cButton

      class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"
      color="light"
    >
      <span>Suivant</span>
    </button>
  </div>
</div>


