<table bordered  cTable>
    <thead>
      <tr>
        <th class="tw-text-sm tw-text-secondary" scope="col">N° ORDRE</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">ATP</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">NOM NAVIRE</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">AFRETTEUR</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">STATUS</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">DATE ARRIVEE</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      @for(demand of demands(); track demand; ) {
        <tr>
          <td>{{ $index + 1 }}</td>

          <td scope="row">{{demand.atp}}</td>
          <td>{{demand.motif}}</td>
          <td>{{demand.nomNavire}}</td>
          <td>{{ demand.affreteur }}</td>

          <td>
              <span
                class="tw-py-1 tw-px-2 tw-inline-flex tw-items-center tw-gap-x-1 tw-font-medium tw-bg-red-100 tw-text-red-500 tw-rounded-full"
              >
                Rejetée
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 15 15"><path fill="currentColor" d="M3.64 2.27L7.5 6.13l3.84-3.84A.92.92 0 0 1 12 2a1 1 0 0 1 1 1a.9.9 0 0 1-.27.66L8.84 7.5l3.89 3.89A.9.9 0 0 1 13 12a1 1 0 0 1-1 1a.92.92 0 0 1-.69-.27L7.5 8.87l-3.85 3.85A.92.92 0 0 1 3 13a1 1 0 0 1-1-1a.9.9 0 0 1 .27-.66L6.16 7.5L2.27 3.61A.9.9 0 0 1 2 3a1 1 0 0 1 1-1c.24.003.47.1.64.27"/></svg>
              </span>
            </td>
            <td>27 Août 2024, 15:32</td>
            <td>
              <c-dropdown>
                <button cDropdownToggle [caret]="false" cButton color="light" variant="ghost">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="13"
                    height="13"
                    viewBox="0 0 13 13"
                    fill="none"
                  >
                    <path
                      d="M2.13306 8C2.96148 8 3.63306 7.32843 3.63306 6.5C3.63306 5.67157 2.96148 5 2.13306 5C1.30463 5 0.633057 5.67157 0.633057 6.5C0.633057 7.32843 1.30463 8 2.13306 8Z"
                      fill="#4F566B"
                    />
                    <path
                      d="M6.63306 8C7.46148 8 8.13306 7.32843 8.13306 6.5C8.13306 5.67157 7.46148 5 6.63306 5C5.80463 5 5.13306 5.67157 5.13306 6.5C5.13306 7.32843 5.80463 8 6.63306 8Z"
                      fill="#4F566B"
                    />
                    <path
                      d="M12.6331 6.5C12.6331 7.32843 11.9615 8 11.1331 8C10.3046 8 9.63306 7.32843 9.63306 6.5C9.63306 5.67157 10.3046 5 11.1331 5C11.9615 5 12.6331 5.67157 12.6331 6.5Z"
                      fill="#4F566B"
                    />
                  </svg>
                </button>
                <ul cDropdownMenu>
                    <li><a [routerLink]="[]" cDropdownItem>Details</a></li>
                </ul>
              </c-dropdown>
            </td>
          </tr>
    }@empty {
        <tr>
          <td colspan="6" class="tw-text-center">Aucun résultat</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="bottom-table tw-flex tw-flex-row tw-justify-between tw-item-center">
    <div class="tw-flex tw-flex-row tw-justify-center tw-items-center">
      <div>{{demands().length}} resultats</div>
    </div>
    <div class="action-button tw-flex tw-item-center tw-flex-row tw-justify-end !tw-gap-1">
      <button
        class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"

        cButton
        color="light"
      >
        <span>Préçédent</span>
      </button>
      <button
        class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"

        cButton
        color="light"
      >
        <span>Suivant</span>
      </button>
    </div>
  </div>
