<div class="tw-relative">
  <div class="accordion-body">
    <div class="sub-title tw-flex-grow  ">
      <p class="tw-text-gray-800 tw-mb-1 tw-font-semibold tw-text-base">
        Document nécéssaires
      </p>
      <p class="tw-text-gray-500 tw-mb-8 tw-font-normal tw-text-base">
        Liste de fichiers (Certificat Phytosanitaire, Certificat de
        Fumigation,Certificat d’origine, Certificat de qualité et
        poids,Certificat sanitaire, Connaissement, Déclaration, Permis
        d’Importation)
      </p>
    </div>

    <app-demand-upload-files [fileUploads]="fileUploads" (onFileUpload)="onFileUpload($event)"></app-demand-upload-files>
  </div>
  <!-- <div class="!tw-border-b !tw-border-gray-200 tw-mt-8"></div>  -->
  <div class="title tw-flex tw-flex-row tw-mt-8 tw-items-center tw-justify-end">

    <div class="action-button tw-mt-2 tw-mb-8  tw-bg-white tw-flex tw-flex-row !tw-gap-3">
      <button (click)="onClickPrevious()" cButton color="light"
              class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary">
        <span>Précédent</span>
      </button>
      <button (click)="onClickNext()" cButton color="primary"
              class="!tw-flex !tw-items-center !tw-shadow-button-primary hover:!tw-bg-green-700 !tw-gap-2 !tw-border !tw-text-white !tw-bg-primary !tw-border-border-secondary">
        <span>Suivant</span>
      </button>
    </div>
  </div>
</div>
