<table [responsive]="true" bordered cTable>
  <thead>
  <tr>
    <th class="tw-text-sm tw-text-secondary" scope="col">N° ORDRE</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">N° DEMANDE</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">ATP</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">NOM NAVIRE</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">IMO</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">STATUS</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">DATE CREATION</th>
    <th class="tw-text-sm tw-text-secondary" scope="col">ACTION</th>
  </tr>

    @if (loadingDemands) {
      <tr>
        <td colspan="8" class="tw-text-center !tw-my-0 !tw-p-0">
          <app-loading-bar></app-loading-bar>
        </td>
      </tr>
    }
  </thead>
  <tbody>
    @for (demand of demands(); track demand) {
      @if (!loadingDemands) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td scope="row">
            <a [routerLink]="['/demand/details', demand.idFormalite]"  (click)="xendDetailsInfo(demand)"
               class="tw-inline-flex tw-items-center tw-font-medium tw-text-blue-600 hover:tw-cursor-pointer hover:tw-underline">
              {{ demand.numGenerer }}
              <svg class="tw-w-5 tw-h-5 tw-ms-2 rtl:tw-rotate-180" xmlns="http://www.w3.org/2000/svg" width="18"
                   height="18" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M11 4H4v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-5M9 15L20 4m-5 0h5v5"/>
              </svg>
            </a>
          </td>
          <td>{{ demand.atp }}</td>
          <td>{{ demand.nomNavire }}</td>
          <td>{{ demand.imo }}</td>
          <td>
            <span
              class="tw-py-1 tw-px-2 tw-inline-flex tw-items-center tw-gap-x-1 tw-font-medium tw-bg-gray-200 tw-text-gray-500 tw-rounded-full">
              {{ demand.etat === 'NON_SOUMIS' && 'Non soumis' }}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 256 256"><path
                fill="currentColor"
                d="M140 32v32a12 12 0 0 1-24 0V32a12 12 0 0 1 24 0m33.25 62.75a12 12 0 0 0 8.49-3.52l22.63-22.63a12 12 0 0 0-17-17l-22.6 22.66a12 12 0 0 0 8.48 20.49M224 116h-32a12 12 0 0 0 0 24h32a12 12 0 0 0 0-24m-42.26 48.77a12 12 0 1 0-17 17l22.63 22.63a12 12 0 0 0 17-17ZM128 180a12 12 0 0 0-12 12v32a12 12 0 0 0 24 0v-32a12 12 0 0 0-12-12m-53.74-15.23L51.63 187.4a12 12 0 0 0 17 17l22.63-22.63a12 12 0 1 0-17-17M76 128a12 12 0 0 0-12-12H32a12 12 0 0 0 0 24h32a12 12 0 0 0 12-12m-7.4-76.37a12 12 0 1 0-17 17l22.66 22.6a12 12 0 0 0 17-17Z"/></svg>
            </span>
          </td>
          <td>{{ demand.dateDemande | date: 'dd/MM/yyyy à HH:mm' }}</td>
          <td>
            <button (click)="demandDetailsInfo(demand)" [routerLink]="['/demand/edit', 'step1']" cTooltip="Editer"
                    class="!tw-text-blue-600 !tw-bg-blue-100 hover:!tw-text-blue-700 !tw-mr-3" cButton color="light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h8l6 6v3q-.575.125-1.075.4t-.925.7l-6 5.975V22zm8 0v-3.075l5.525-5.5q.225-.225.5-.325t.55-.1q.3 0 .575.113t.5.337l.925.925q.2.225.313.5t.112.55t-.1.563t-.325.512l-5.5 5.5zm6.575-5.6l.925-.975l-.925-.925l-.95.95zM13 9h5l-5-5l5 5l-5-5z"/>
              </svg>
            </button>
            <button (click)="openModal(demand)" cTooltip="Soumettre la demande"
                    class="!tw-text-primary !tw-bg-green-100 hover:!tw-text-green-700 !tw-mr-3" cButton color="light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <g fill="none">
                  <path
                    d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.  016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/>
                  <path fill="currentColor"
                        d="m21.433 4.861l-6 15.5a1 1 0 0 1-1.624.362l-3.382-3.235l-2.074 2.073a.5.5 0 0 1-.853-.354v-4.519L2.309 9.723a1 1 0 0 1 .442-1.691l17.5-4.5a1 1 0 0 1 1.181 1.329ZM19 6.001L8.032 13.152l1.735 1.66L19 6Z"/>
                </g>
              </svg>
            </button>
            <button cTooltip="Supprimer" class="!tw-text-red-500 !tw-bg-red-100 hover:!tw-text-red-700" cButton
                    color="light">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="M7 21q-.825 0-1.412-.587T5 19V6q-.425 0-.712-.288T4 5t.288-.712T5 4h4q0-.425.288-.712T10 3h4q.425 0 .713.288T15 4h4q.425 0 .713.288T20 5t-.288.713T19 6v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zm-7 11q.425 0 .713-.288T11 16V9q0-.425-.288-.712T10 8t-.712.288T9 9v7q0 .425.288.713T10 17m4 0q.425 0 .713-.288T15 16V9q0-.425-.288-.712T14 8t-.712.288T13 9v7q0 .425.288.713T14 17M7 6v13z"/>
              </svg>
            </button>
          </td>
        </tr>
      }
    }
    @if (demands().length === 0 && !loadingDemands) {
      <tr>
        <td colspan="8" class="tw-text-center">Aucun résultat</td>
      </tr>
    }
    @if (loadingDemands) {
      <tr>
        <td colspan="8" class="tw-text-center !tw-text-gray-400">En cours de chargement...</td>
      </tr>
    }
  </tbody>
</table>
<div class="bottom-table tw-flex tw-flex-row tw-justify-between tw-item-center">
  <div class="tw-flex tw-flex-row tw-justify-center tw-items-center">
    <div>{{ demands().length }} resultats</div>
  </div>
  <div class="action-button tw-flex tw-item-center tw-flex-row tw-justify-end !tw-gap-1">
    <button
      cButton
      class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"
      color="light"
    >
      <span>Préçédent</span>
    </button>
    <button
      cButton

      class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"
      color="light"
    >
      <span>Suivant</span>
    </button>
  </div>
</div>
<app-confirm-modal
  (onCancel)="onCancel()"
  (onConfirm)="onSubmit()"
  [isLoading]="loadingSubmit"
  [visible]="modalVisible"
/>
