<table bordered  cTable>
    <thead>
      <tr>
        <th class="tw-text-sm tw-text-secondary" scope="col">NUMERO</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">NAVIRE</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">STATUS</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">DATE</th>
        <th class="tw-text-sm tw-text-secondary" scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      @for(demand of demands(); track demand; ) {
        <tr>
          <td scope="row">{{demand.atp}}</td>
          <td>{{demand.nomNavire}}</td>
          <td>
              <span
                class="tw-py-1 tw-px-2 tw-inline-flex tw-items-center tw-gap-x-1 tw-font-medium tw-bg-lime-200 tw-text-[#228403] tw-rounded-full"
              >
                {{demand.etat === 'TRAITER' && 'Tratée'}}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M0.273315 8.93997L3.99998 12.6666L4.93998 11.72L1.21998 7.99997M14.8266 3.71997L7.77332 10.78L4.99998 7.99997L4.04665 8.93997L7.77332 12.6666L15.7733 4.66664M12 4.66664L11.06 3.71997L6.82665 7.9533L7.77332 8.8933L12 4.66664Z"
                    fill="#228403"
                  />
                </svg>
              </span>
            </td>
          <td>{{demand.dateTraitement | date: 'dd/MM/yyyy: HH:mm'}}</td>
            <td>
              <c-dropdown>
                <button cDropdownToggle [caret]="false" cButton color="light" variant="ghost">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="13"
                    height="13"
                    viewBox="0 0 13 13"
                    fill="none"
                  >
                    <path
                      d="M2.13306 8C2.96148 8 3.63306 7.32843 3.63306 6.5C3.63306 5.67157 2.96148 5 2.13306 5C1.30463 5 0.633057 5.67157 0.633057 6.5C0.633057 7.32843 1.30463 8 2.13306 8Z"
                      fill="#4F566B"
                    />
                    <path
                      d="M6.63306 8C7.46148 8 8.13306 7.32843 8.13306 6.5C8.13306 5.67157 7.46148 5 6.63306 5C5.80463 5 5.13306 5.67157 5.13306 6.5C5.13306 7.32843 5.80463 8 6.63306 8Z"
                      fill="#4F566B"
                    />
                    <path
                      d="M12.6331 6.5C12.6331 7.32843 11.9615 8 11.1331 8C10.3046 8 9.63306 7.32843 9.63306 6.5C9.63306 5.67157 10.3046 5 11.1331 5C11.9615 5 12.6331 5.67157 12.6331 6.5Z"
                      fill="#4F566B"
                    />
                  </svg>
                </button>
                <ul cDropdownMenu>
                  <li><a [routerLink]="[]" cDropdownItem>Details</a></li>
                  <li><a [routerLink]="[]"  cDropdownItem>Payer</a></li>
                </ul>
              </c-dropdown>
            </td>
          </tr>
    } @empty {
        <tr>
          <td colspan="5" class="tw-text-center">Aucun résultat</td>
        </tr>
      }
    </tbody>
  </table>
  <div class="bottom-table tw-flex tw-flex-row tw-justify-between tw-item-center">
    <div class="tw-flex tw-flex-row tw-justify-center tw-items-center">
      <div>{{demands().length}} resultats</div>
    </div>
    <div class="action-button tw-flex tw-item-center tw-flex-row tw-justify-end !tw-gap-1">
      <button
        class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"

        cButton
        color="light"
      >
        <span>Préçédent</span>
      </button>
      <button
        class="!tw-gap-2 !tw-flex !tw-items-center !tw-shadow-button hover:!tw-bg-secondary-light !tw-border !tw-bg-white !tw-border-border-secondary"

        cButton
        color="light"
      >
        <span>Suivant</span>
      </button>
    </div>
  </div>
